# =============================
# Python
# =============================
__pycache__/
*.pyc
*.pyo
venv/
.env
.env.*
secrets/

# =============================
# Node
# =============================
node_modules/
dist/
build/

# =============================
# Docker
# =============================
*.log

# =============================
# OS
# =============================
.DS_Store
Thumbs.db

# Coverage
.coverage
.coverage.*
htmlcov/
coverage.xmlsecrets/
*.env.docker
celerybeat-schedule
