# =============================
# Python
# =============================
__pycache__/
*.pyc
*.pyo
venv/
venv_linux/
.env
.env.local
.env.docker
secrets/

# =============================
# Node
# =============================
node_modules/
dist/
build/

# =============================
# Docker
# =============================
*.log
.zip

# =============================
# OS
# =============================
.DS_Store
Thumbs.db

# Coverage
.coverage
.coverage.*
htmlcov/
coverage.xmlsecrets/
*.env.docker
celerybeat-schedule

# =============================
# SSL
# =============================
*.pem
*.key

# ==============================
# mqtt ingestion
# ==============================
sentineltour-mqtt-ingestion